openapi: 3.0.0
info:
  contact:
    name: Camunda
  description: Manage Camunda Clusters and API Clients via API.
  license:
    name: ' '
    url: ""
  title: Camunda Management API
  version: 1.3.3
servers:
- url: https://api.cloud.camunda.io
paths:
  /activity/csv:
    get:
      operationId: GetCsv
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: fetches all activity events as CSV.
        "403":
          description: You do not have the required permissions to perform this operation.
      security:
      - bearer: []
  /activity/json:
    get:
      operationId: GetJson
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuditDto"
                type: array
          description: fetches all activity events as JSON.
        "403":
          description: You do not have the required permissions to perform this operation.
      security:
      - bearer: []
  /clusters:
    get:
      operationId: GetClusters
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Cluster"
                type: array
          description: A list of all your Camunda clusters.
      security:
      - bearer: []
    post:
      operationId: CreateCluster
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCluster_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCluster_200_response"
          description: The clusterUuid of your new cluster.
        "400":
          description: "Name is too long, invalid clusterPlanType, invalid region,\
            \ no reservations left, invalid channel, or invalid generation"
        "503":
          description: Cluster creation is not available
      security:
      - bearer: []
  /clusters/parameters:
    get:
      description: Gets all possible options to create a Camunda cluster.
      operationId: GetParameters
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Parameters"
          description: Ok
      security:
      - bearer: []
  /clusters/{clusterUuid}:
    delete:
      description: Irreversibly deletes a cluster identified by the given clusterUuid.
      operationId: DeleteCluster
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "404":
          description: Cluster not found
      security:
      - bearer: []
    get:
      operationId: GetCluster
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cluster"
          description: Detailed information for the given clusterUuid.
        "404":
          description: Cluster not found
      security:
      - bearer: []
    patch:
      description: Updates name or labels of a cluster identified by the given clusterUuid.
      operationId: UpdateCluster
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClusterBody"
        required: true
      responses:
        "204":
          description: No content
        "404":
          description: Cluster not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/backups:
    get:
      operationId: GetBackups
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BackupDto"
                type: array
          description: A list of all the backups created for your Camunda cluster.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
    post:
      description: Creates a new backup
      operationId: CreateBackup
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupDto"
          description: Ok
        "404":
          description: Cluster not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/backups/schedule:
    delete:
      description: |-
        Removes the backup schedule of your Camunda cluster. Backups that were
        already created are kept; only future scheduled runs stop. Removing a
        schedule that does not exist succeeds, so this is safe to retry — but a
        removal that genuinely failed reports an error rather than a success, so a
        `204` means scheduled backups have actually stopped.
      operationId: DeleteSchedule
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
    get:
      description: |-
        Returns the backup schedule of your Camunda cluster. A `404` indicates that
        no schedule is configured, meaning backups are only created on demand.
      operationId: GetSchedule
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupScheduleDto"
          description: The cluster's backup schedule.
        "403":
          description: Cluster is not yours
        "404":
          description: No backup schedule configured for this cluster
      security:
      - bearer: []
    put:
      description: |-
        Creates or replaces the backup schedule of your Camunda cluster, so backups
        are taken automatically instead of on demand. A cluster has at most one
        schedule: an existing one is replaced rather than added to. Scheduled
        backups are retained separately from manual ones — once the retention limit
        is reached, the oldest scheduled backup is removed.
      operationId: UpdateSchedule
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackupScheduleBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupScheduleDto"
          description: The stored schedule.
        "400":
          description: The schedule is not a valid cron expression
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/backups/{backupId}:
    delete:
      description: Irreversibly deletes a cluster
      operationId: DeleteBackup
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: backupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupDto"
          description: Ok
        "403":
          description: Cluster is not yours
      security:
      - bearer: []
  /clusters/{clusterUuid}/backups/{backupId}/restore:
    get:
      description: |-
        Returns the latest Restore record associated with the given backup. A
        `404` indicates that no restore has ever been triggered for this backup.
      operationId: GetRestore
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: backupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreDto"
          description: Ok
        "403":
          description: Cluster is not yours
        "404":
          description: No restore found for this backup
      security:
      - bearer: []
    post:
      description: |-
        Triggers a restore of the given backup onto the source cluster. The cluster
        is suspended automatically and unsuspended by the operator once the Restore
        is in flight.
      operationId: RestoreFromBackup
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: backupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestoreDto"
          description: The created Restore record.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster or backup not found
        "409":
          description: Backup cannot be restored (unknown generation or in-flight
            restore)
      security:
      - bearer: []
  /clusters/{clusterUuid}/clients:
    get:
      operationId: GetClients
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ClusterClient"
                type: array
          description: A list of all the clients currently configured for your Camunda
            cluster.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
    post:
      operationId: CreateClient
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClusterClientBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedClusterClient"
          description: Ok
        "400":
          description: Client names must be unique
        "403":
          description: Maximum number of clients reached or cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/clients/{clientId}:
    delete:
      description: Irreversibly deletes a cluster client.
      operationId: DeleteClient
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster or client not found
      security:
      - bearer: []
    get:
      operationId: GetClient
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClusterClientConnectionDetails"
          description: The connection parameters needed to use the client with your
            Camunda cluster.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster or client not found
        "412":
          description: The cluster is not ready; try again later
      security:
      - bearer: []
  /clusters/{clusterUuid}/encryption:
    put:
      description: |-
        Configures or rotates the customer-managed encryption keys on a BYOK
        (encryption=External) cluster.

        Preconditions:
         - the cluster was created with `encryption: 'External'` (otherwise 409)
         - the org is on the Enterprise plan and the cluster region is AWS
           (otherwise 403)
         - both ARNs must be well-formed AWS KMS key ARNs with region segments
           matching the cluster's primary / backup region (otherwise 400)
         - `secondaryEncryptionKeyId` is required for dual-region clusters and
           must be omitted for single-region clusters (otherwise 400)
      operationId: UpdateClusterEncryption
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClusterEncryptionBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cluster"
          description: Ok
        "400":
          description: "Invalid ARN, region mismatch, or dual-region requirement violated"
        "403":
          description: External encryption not available for this org/region
        "404":
          description: Cluster not found
        "409":
          description: Cluster is not configured for external encryption
      security:
      - bearer: []
  /clusters/{clusterUuid}/failover:
    post:
      description: |-
        **Not enabled for all organizations.** Triggers a regional failover:
        creates a new cluster in the cluster's paired backup region from the
        given backups, and restores `restoreBackupId` onto it immediately. The
        source cluster is suspended as part of this operation and can never be
        resumed once failover has been triggered.
      operationId: TriggerFailover
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriggerFailoverBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    newClusterId: a1e11a3e-6f1e-4c9b-8b0a-2e2f9c7a9b21
                    results:
                      backupClone: ok
                      restore: ok
              schema:
                $ref: "#/components/schemas/FailoverResult"
          description: |-
            The id of the new failover cluster and the outcome of the
            backup clone / restore operations.
        "400":
          content:
            text/plain:
              examples:
                Example 1:
                  value: restoreBackupId must be one of the backupIds
              schema:
                type: string
          description: "backupIds/restoreBackupId missing, empty, or invalid"
        "403":
          content:
            text/plain:
              examples:
                Example 1:
                  value: You are not supposed to be here
              schema:
                type: string
          description: Cluster is not yours
        "404":
          content:
            text/plain:
              examples:
                Example 1:
                  value: Backup 3fa85f64-5717-4562-b3fc-2c963f66afa6 not found
              schema:
                type: string
          description: Cluster or one of the backupIds not found
        "409":
          content:
            text/plain:
              examples:
                Example 1:
                  value: Cluster has already been failed over
              schema:
                type: string
          description: "Cluster already failed over, or not yet ready for failover\
            \ (see message)"
        "422":
          content:
            text/plain:
              examples:
                Example 1:
                  value: Cluster is not a multi-region cluster
              schema:
                type: string
          description: "Cluster is not multi-region, or its region pair doesn't support\
            \ failover"
      security:
      - bearer: []
  /clusters/{clusterUuid}/ipallowlist:
    put:
      description: Updates the IP Allowlist rules for your cluster. Each entry in
        the array must be a valid comma separated list of CIDRs.
      operationId: UpdateIpAllowlist
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpAllowListBody"
        required: true
      responses:
        "204":
          description: No content
      security:
      - bearer: []
  /clusters/{clusterUuid}/ipwhitelist:
    put:
      deprecated: true
      description: |-
        Updates the IP Whitelist rules for your cluster. Each entry in the array must be a valid comma separated list of CIDRs.
        THIS IS DEPRECATED AND WILL BE REMOVED FROM THE API IN JUNE 2025. USE /clusters/:clusterUuid/ipallowlist INSTEAD.
      operationId: UpdateIpWhitelist
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpWhiteListBody"
        required: true
      responses:
        "204":
          description: No content
      security:
      - bearer: []
  /clusters/{clusterUuid}/monitoring:
    delete:
      description: Deactivates External Monitoring for a cluster
      operationId: DeactivateMonitoring
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
        "409":
          description: External Monitoring not activated
      security:
      - bearer: []
    post:
      description: Activates External Monitoring for a cluster
      operationId: ActivateMonitoring
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
        "409":
          description: External Monitoring already activated
      security:
      - bearer: []
  /clusters/{clusterUuid}/monitoring/clients:
    get:
      description: Get all External Monitoring clients for a cluster
      operationId: GetMonitoringClients
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMonitoringClients_200_response"
          description: A list of all External Monitoring clients and the monitoring
            status for your Camunda cluster.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
    post:
      description: Creates a new External Monitoring client
      operationId: CreateMonitoringClient
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitoringClient_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMonitoringClient_200_response"
          description: Ok
        "404":
          description: Cluster not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/monitoring/clients/{clientUuid}:
    delete:
      description: Deletes an External Monitoring client
      operationId: DeleteMonitoringClient
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Client not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/monitoring/clients/{clientUuid}/rotate:
    post:
      description: Rotates the password for an External Monitoring client
      operationId: RotateMonitoringClientPassword
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMonitoringClient_200_response"
          description: Ok
        "403":
          description: Cluster is not yours
        "404":
          description: Client not found
      security:
      - bearer: []
  /clusters/{clusterUuid}/secrets:
    get:
      operationId: GetSecrets
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClusterSecrets"
          description: A list of all the secrets currently configured for your Camunda
            cluster.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
    post:
      description: Creates a new secret
      operationId: CreateSecret
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSecretBody"
        required: true
      responses:
        "204":
          description: No content
        "400":
          description: Secret name must be less than 50 characters
        "403":
          description: Maximum number of secret reached or cluster is not yours
        "404":
          description: Cluster not found
        "409":
          description: "Secret names must be unique, or another change to the secrets\
            \ of this cluster is in progress. Try the request again in the second\
            \ case."
      security:
      - bearer: []
  /clusters/{clusterUuid}/secrets/{secretName}:
    delete:
      description: |-
        Irreversibly deletes a secret. Due to eventual consistency, the deleted secret may still
        appear in subsequent GET or list responses for a short period until the deletion is fully
        propagated across the system.
      operationId: DeleteSecret
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: secretName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "409":
          description: Another change to the secrets of this cluster is in progress.
            Try the request again.
      security:
      - bearer: []
    put:
      description: Updates a secret
      operationId: UpdateSecret
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: secretName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSecretBody"
        required: true
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
        "409":
          description: Another change to the secrets of this cluster is in progress.
            Try the request again.
      security:
      - bearer: []
  /clusters/{clusterUuid}/secure-connectivity:
    delete:
      description: Deactivates Secure Connectivity for a cluster
      operationId: DeactivateSecureConnectivity
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
        "409":
          description: Secure Connectivity not activated
      security:
      - bearer: []
    get:
      description: Get Secure Connectivity status for a cluster
      operationId: GetSecureConnectivityStatus
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSecureConnectivityStatus_200_response"
          description: The secure connectivity status for your Camunda cluster.
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
      security:
      - bearer: []
    post:
      description: Activates Secure Connectivity for a cluster
      operationId: ActivateSecureConnectivity
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateSecureConnectivity_request"
        required: true
      responses:
        "204":
          description: No content
        "403":
          description: Cluster is not yours
        "404":
          description: Cluster not found
        "409":
          description: Secure Connectivity already activated
      security:
      - bearer: []
  /clusters/{clusterUuid}/upgrade:
    put:
      description: upgrades a cluster identified by the given clusterUuid to the latest
        generation available.
      operationId: UpgradeCluster
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerationUpgradeForClusterDto"
          description: Ok
        "400":
          description: no upgrade available
        "404":
          description: ""
        "409":
          description: the upgrade gate blocks the upgrade. The body names the reason
            and the next step.
        "412":
          description: cluster is not ready for upgrade
      security:
      - bearer: []
  /clusters/{clusterUuid}/wake:
    put:
      description: Resumes a 'Suspended' Cluster.
      operationId: Wake
      parameters:
      - explode: false
        in: path
        name: clusterUuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
      security:
      - bearer: []
  /members:
    get:
      operationId: GetMembers
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Member"
                type: array
          description: the list of members and pending invites for your organization.
        "403":
          description: You do not have the required permissions to perform this operation.
      security:
      - bearer: []
  /members/{email}:
    delete:
      operationId: DeleteMember
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "403":
          description: You do not have the required permissions to perform this operation.
        "404":
          description: specified user is not part of the organization
      security:
      - bearer: []
    post:
      description: "Starting with Camunda 8.8, the roles \"operationsengineer\", \"\
        taskuser\", \"developer\", and \"visitor\" are no longer recommended for use.\
        \ Fine-grained permission management is handled in the Admin application for\
        \ each cluster."
      operationId: UpdateMembers
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostMemberBody"
        required: true
      responses:
        "204":
          description: No content
        "400":
          description: Invalid request body - e.g. invalid roles
        "403":
          description: You do not have the required permissions to perform this operation
            or no open seats left
      security:
      - bearer: []
  /meta/ip-ranges:
    get:
      description: |-
        This endpoint only exposes egress IP addresses for the related services.
        Expected changes will be published through the API at least 24 hours in advance.
        We expect interested customers to periodically read this list from the API and reflect the changes in their systems.
        In case of emergency, we may have to update these addresses faster than 24 hours and we may not be able to pre-announce the changes in advance.
      operationId: GetMeta
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaDto"
          description: A list of all the IP ranges for Camunda SaaS products.
      security: []
components:
  examples: {}
  headers: {}
  parameters: {}
  requestBodies: {}
  responses: {}
  schemas:
    AssignableOrganizationRoleType:
      enum:
      - admin
      - operationsengineer
      - taskuser
      - analyst
      - developer
      - visitor
      - modeler
      type: string
    AuditDto:
      example:
        audit: audit
        auditType: c
        entity: entity
        entityAttribute: entityAttribute
        entityAttributeValueFrom: entityAttributeValueFrom
        entityAttributeValueTo: entityAttributeValueTo
        entityId: entityId
        orgId: orgId
        parentEntity: parentEntity
        parentEntityId: parentEntityId
        service: service
        timestamp: 0.8008281904610115
        userId: userId
      properties:
        audit:
          type: string
        auditType:
          enum:
          - c
          - r
          - u
          - d
          type: string
        entity:
          type: string
        entityAttribute:
          type: string
        entityAttributeValueFrom:
          type: string
        entityAttributeValueTo:
          type: string
        entityId:
          type: string
        orgId:
          type: string
        parentEntity:
          type: string
        parentEntityId:
          type: string
        service:
          type: string
        timestamp:
          format: double
          type: number
        userId:
          type: string
      required:
      - audit
      - auditType
      - entity
      - entityId
      - orgId
      - service
      - userId
      type: object
    BackupDto:
      example:
        completed: completed
        created: created
        generationName: generationName
        generationUuid: generationUuid
        incidentLink: incidentLink
        name: name
        operateStatus: In progress
        optimizeStatus: null
        status: null
        tasklistStatus: null
        uuid: uuid
        zeebeStatus: null
      properties:
        completed:
          type: string
        created:
          type: string
        generationName:
          description: |-
            Human-readable name of the Generation referenced by `generationUuid`.
            Resolved server-side: the Generation entity is looked up by `generationUuid`
            and its `name` field is propagated here. Falls back to `'Unknown Generation'`
            if the generation can't be found (e.g. it was deleted). `undefined` when the
            backup has no `generationUuid` at all (legacy backups).
          type: string
        generationUuid:
          type: string
        incidentLink:
          description: |-
            Link to the incident Slack channel, from the `incident-link` annotation
            on the Backup CR. Only set on internal (incident) backups.
          type: string
        name:
          type: string
        operateStatus:
          $ref: "#/components/schemas/BackupStatus"
        optimizeStatus:
          $ref: "#/components/schemas/BackupStatus"
        status:
          $ref: "#/components/schemas/BackupStatus"
        tasklistStatus:
          $ref: "#/components/schemas/BackupStatus"
        uuid:
          type: string
        zeebeStatus:
          $ref: "#/components/schemas/BackupStatus"
      required:
      - completed
      - created
      - name
      - operateStatus
      - optimizeStatus
      - status
      - tasklistStatus
      - uuid
      - zeebeStatus
      type: object
    BackupScheduleBody:
      example:
        schedule: schedule
      properties:
        schedule:
          description: |-
            Standard five-field cron expression in UTC
            (`minute hour day-of-month month day-of-week`), for example `0 2 * * *`
            for a daily backup at 02:00 UTC. Backups can be scheduled at most once
            every 15 minutes — the same floor that applies to manual backups.
          type: string
      required:
      - schedule
      type: object
    BackupScheduleDto:
      example:
        name: name
        schedule: schedule
      properties:
        name:
          type: string
        schedule:
          type: string
      required:
      - name
      - schedule
      type: object
    BackupStatus:
      enum:
      - In progress
      - Failed
      - Complete
      - "-"
      type: string
    ByomClientDto:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        createdByName: createdByName
        lastUsed: 2000-01-23T04:56:07.000+00:00
        name: name
        username: username
        uuid: uuid
      properties:
        created:
          format: date-time
          type: string
        createdBy:
          type: string
        createdByName:
          type: string
        lastUsed:
          format: date-time
          type: string
        name:
          type: string
        username:
          type: string
        uuid:
          type: string
      required:
      - created
      - createdBy
      - createdByName
      - lastUsed
      - name
      - username
      - uuid
      type: object
    ByomStatus:
      example:
        conditions:
        - ""
        - ""
        metricsEndpoint:
          path: path
          scheme: scheme
          target: target
      properties:
        conditions:
          items: {}
          type: array
        metricsEndpoint:
          $ref: "#/components/schemas/ByomStatus_metricsEndpoint"
      required:
      - conditions
      - metricsEndpoint
      type: object
    CamundaClusterStage:
      enum:
      - dev
      - test
      - stage
      - prod
      nullable: false
      type: string
    Cluster:
      description: "Describing a Camunda cluster running in your organization. For\
        \ reference, use the UUID."
      example:
        autoUpdate: true
        backupRegion:
          name: name
          uuid: uuid
        channel:
          name: name
          uuid: uuid
        created: 2000-01-23T04:56:07.000+00:00
        description: description
        encryption:
          primaryKeyArn: primaryKeyArn
          secondaryKeyArn: secondaryKeyArn
          status: Ready
          type: Software
        generation:
          name: name
          uuid: uuid
        ipallowlist:
        - description: description
          ip: ip
        - description: description
          ip: ip
        ipwhitelist:
        - description: description
          ip: ip
        - description: description
          ip: ip
        labels:
        - labels
        - labels
        links:
          connectors: connectors
          console: console
          identity: identity
          oauth: oauth
          operate: operate
          optimize: optimize
          tasklist: tasklist
          zeebe: zeebe
        name: name
        ownerId: ownerId
        planType:
          name: name
          uuid: uuid
        region:
          name: name
          uuid: uuid
        status:
          connectorsStatus: Creating
          operateStatus: null
          optimizeStatus: null
          ready: null
          tasklistStatus: null
          zeebeStatus: null
        uuid: uuid
      properties:
        autoUpdate:
          description: |-
            The cluster will automatically be updated by Camunda when a new C8 version is released
            If the cluster you want to create is running on a non-stable Channel passing this property will be ignored!
          type: boolean
        backupRegion:
          $ref: "#/components/schemas/Cluster_backupRegion"
        channel:
          $ref: "#/components/schemas/Cluster_channel"
        created:
          format: date-time
          type: string
        description:
          description: Optional description for the cluster (max 150 characters).
          type: string
        encryption:
          $ref: "#/components/schemas/Cluster_encryption"
        generation:
          $ref: "#/components/schemas/Cluster_generation"
        ipallowlist:
          description: the IP Allowlist rules for your cluster - will only be returned
            if your organization has the feature enabled and the client you are using
            has the permission to see it.
          items:
            $ref: "#/components/schemas/Cluster_ipallowlist_inner"
          type: array
        ipwhitelist:
          description: |-
            DEPRECATED: this field is going to be removed in June 2025, please use ipallowlist instead

            the IP Whitelist rules for your cluster - will only be returned if your organization has the feature enabled and the client you are using has the permission to see it.
          items:
            $ref: "#/components/schemas/Cluster_ipallowlist_inner"
          type: array
        labels:
          items:
            type: string
          type: array
        links:
          $ref: "#/components/schemas/Cluster_links"
        name:
          type: string
        ownerId:
          type: string
        planType:
          $ref: "#/components/schemas/Cluster_planType"
        region:
          $ref: "#/components/schemas/Cluster_region"
        status:
          $ref: "#/components/schemas/Cluster_status"
        uuid:
          description: The ID used in all further API operations referencing your
            cluster.
          type: string
      required:
      - autoUpdate
      - channel
      - created
      - generation
      - links
      - name
      - ownerId
      - planType
      - region
      - status
      - uuid
      type: object
    ClusterClient:
      example:
        clientId: clientId
        name: name
        permissions:
        - Zeebe
        - Zeebe
      properties:
        clientId:
          type: string
        name:
          type: string
        permissions:
          items:
            enum:
            - Zeebe
            - Operate
            - Tasklist
            - Optimize
            - Secrets
            type: string
          type: array
      required:
      - clientId
      - name
      - permissions
      type: object
    ClusterClientConnectionDetails:
      example:
        ZEEBE_ADDRESS: ZEEBE_ADDRESS
        ZEEBE_AUTHORIZATION_SERVER_URL: ZEEBE_AUTHORIZATION_SERVER_URL
        ZEEBE_CLIENT_ID: ZEEBE_CLIENT_ID
        name: name
      properties:
        ZEEBE_ADDRESS:
          type: string
        ZEEBE_AUTHORIZATION_SERVER_URL:
          type: string
        ZEEBE_CLIENT_ID:
          type: string
        name:
          type: string
      required:
      - ZEEBE_ADDRESS
      - ZEEBE_AUTHORIZATION_SERVER_URL
      - ZEEBE_CLIENT_ID
      - name
      type: object
    ClusterComponentStatus:
      enum:
      - Creating
      - Healthy
      - Unhealthy
      - Updating
      - Resuming
      - Suspended
      - WaitingForInput
      - Maintenance
      type: string
    ClusterEncryptionKey:
      enum:
      - Software
      - Hardware
      - Provider
      - External
      type: string
    ClusterSecrets:
      additionalProperties:
        type: string
      properties: {}
      type: object
    CreateClusterBody:
      description: Used to create a cluster through this API. All necessary values
        can be retrieved from the <pre>/clusters/parameters</pre> endpoint.
      properties:
        autoUpdate:
          description: "If set to false, no automatic updates will be performed on\
            \ your cluster."
          type: boolean
        backupRegionId:
          description: The backup region to choose. Only available if the Sales Plan
            supports this. (Enterprise)
          type: string
        channelId:
          description: The channel (software spec) to use.
          type: string
        description:
          description: Optional description for the cluster (max 150 characters).
          type: string
        encryption:
          $ref: "#/components/schemas/ClusterEncryptionKey"
        generationId:
          description: The generation (software version) to use.
          type: string
        hardwarePackages:
          description: "Optional number uf hardware packages, defaults to 1. Only\
            \ availabe on request and for Advanced offering cluster types."
          format: double
          type: number
        name:
          description: The name of your new cluster.
          type: string
        planTypeId:
          description: The planType (hardware spec) to use.
          type: string
        regionId:
          description: The data center to use.
          type: string
        stageLabel:
          $ref: "#/components/schemas/CamundaClusterStage"
      required:
      - channelId
      - generationId
      - name
      - planTypeId
      - regionId
      type: object
    CreateClusterClientBody:
      description: "if no permissions are passed, the client will be created with\
        \ all the permissions available at the time of creation"
      example:
        clientName: clientName
        permissions:
        - Zeebe
        - Zeebe
      properties:
        clientName:
          type: string
        permissions:
          items:
            enum:
            - Zeebe
            - Operate
            - Tasklist
            - Optimize
            - Secrets
            type: string
          type: array
      required:
      - clientName
      type: object
    CreateSecretBody:
      example:
        secretName: secretName
        secretValue: secretValue
      properties:
        secretName:
          type: string
        secretValue:
          type: string
      required:
      - secretName
      - secretValue
      type: object
    CreatedClusterClient:
      example:
        audience: audience
        clientId: clientId
        clientSecret: clientSecret
        links:
          connectors: connectors
          console: console
          oauth: oauth
          operate: operate
          optimize: optimize
          tasklist: tasklist
          zeebe: zeebe
        name: name
        permissions:
        - permissions
        - permissions
        uuid: uuid
      properties:
        audience:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
        links:
          $ref: "#/components/schemas/CreatedClusterClient_links"
        name:
          type: string
        permissions:
          items:
            type: string
          type: array
        uuid:
          type: string
      required:
      - clientId
      - clientSecret
      - name
      - permissions
      - uuid
      type: object
    EncryptionStatus:
      enum:
      - Ready
      - ProviderError
      - ExternalEncryptionKeyNotReady
      - ExternalEncryptionKeyNotSupplied
      - CreationError
      - EncryptedStorageNotReady
      type: string
    FailoverResult:
      example:
        newClusterId: newClusterId
        results:
          backupClone:
            error: error
          restore: null
      properties:
        newClusterId:
          type: string
        results:
          $ref: "#/components/schemas/FailoverResult_results"
      required:
      - newClusterId
      - results
      type: object
    GenerationUpgradeForClusterDto:
      example:
        cluster:
          id: id
          name: name
        newGeneration:
          id: id
          name: name
        oldGeneration:
          id: id
          name: name
        orgId: orgId
      properties:
        cluster:
          $ref: "#/components/schemas/GenerationUpgradeForClusterDto_cluster"
        newGeneration:
          $ref: "#/components/schemas/GenerationUpgradeForClusterDto_cluster"
        oldGeneration:
          $ref: "#/components/schemas/GenerationUpgradeForClusterDto_cluster"
        orgId:
          type: string
      required:
      - cluster
      - newGeneration
      - oldGeneration
      - orgId
      type: object
    IpAllowListBody:
      example:
        ipallowlist:
        - description: description
          ip: ip
        - description: description
          ip: ip
      properties:
        ipallowlist:
          items:
            $ref: "#/components/schemas/Cluster_ipallowlist_inner"
          type: array
      required:
      - ipallowlist
      type: object
    IpWhiteListBody:
      example:
        ipwhitelist:
        - description: description
          ip: ip
        - description: description
          ip: ip
      properties:
        ipwhitelist:
          items:
            $ref: "#/components/schemas/Cluster_ipallowlist_inner"
          type: array
      required:
      - ipwhitelist
      type: object
    Member:
      example:
        email: email
        invitePending: true
        name: name
        roles:
        - member
        - member
      properties:
        email:
          type: string
        invitePending:
          type: boolean
        name:
          type: string
        roles:
          items:
            $ref: "#/components/schemas/OrganizationRole"
          type: array
      required:
      - email
      - invitePending
      - name
      - roles
      type: object
    MetaDto:
      example:
        web-modeler:
        - web-modeler
        - web-modeler
      properties:
        web-modeler:
          items:
            type: string
          type: array
      required:
      - web-modeler
      type: object
    OrganizationRole:
      enum:
      - member
      - admin
      - owner
      - supportagent
      - operationsengineer
      - taskuser
      - analyst
      - developer
      - visitor
      - modeler
      type: string
    OrganizationRole.ADMIN:
      enum:
      - admin
      type: string
    OrganizationRole.ANALYST:
      enum:
      - analyst
      type: string
    OrganizationRole.DEVELOPER:
      enum:
      - developer
      type: string
    OrganizationRole.MODELER:
      enum:
      - modeler
      type: string
    OrganizationRole.OPERATIONS_ENGINEER:
      enum:
      - operationsengineer
      type: string
    OrganizationRole.TASK_USER:
      enum:
      - taskuser
      type: string
    OrganizationRole.VISITOR:
      enum:
      - visitor
      type: string
    Parameters:
      description: Describes the different options to create a Camunda cluster.
      example:
        channels:
        - allowedGenerations:
          - classification: channel
            name: name
            uuid: uuid
          - classification: channel
            name: name
            uuid: uuid
          defaultGeneration:
            name: name
            uuid: uuid
          name: name
          uuid: uuid
        - allowedGenerations:
          - classification: channel
            name: name
            uuid: uuid
          - classification: channel
            name: name
            uuid: uuid
          defaultGeneration:
            name: name
            uuid: uuid
          name: name
          uuid: uuid
        clusterPlanTypes:
        - name: name
          uuid: uuid
        - name: name
          uuid: uuid
        regions:
        - backups:
          - regions:
            - id: id
              label: label
            - id: id
              label: label
            uuid: uuid
          - regions:
            - id: id
              label: label
            - id: id
              label: label
            uuid: uuid
          name: name
          provider: provider
          uuid: uuid
        - backups:
          - regions:
            - id: id
              label: label
            - id: id
              label: label
            uuid: uuid
          - regions:
            - id: id
              label: label
            - id: id
              label: label
            uuid: uuid
          name: name
          provider: provider
          uuid: uuid
      properties:
        channels:
          items:
            $ref: "#/components/schemas/Parameters_channels_inner"
          type: array
        clusterPlanTypes:
          items:
            $ref: "#/components/schemas/Parameters_channels_inner_defaultGeneration"
          type: array
        regions:
          items:
            $ref: "#/components/schemas/Parameters_regions_inner"
          type: array
      required:
      - channels
      - clusterPlanTypes
      - regions
      type: object
    PostMemberBody:
      example:
        orgRoles:
        - admin
        - admin
      properties:
        orgRoles:
          items:
            $ref: "#/components/schemas/AssignableOrganizationRoleType"
          type: array
      required:
      - orgRoles
      type: object
    Record_string.never_:
      description: Construct a type with a set of properties K of type T
      properties: {}
      type: object
    RestoreDto:
      example:
        backupId: backupId
        completionTimestamp: completionTimestamp
        startTimestamp: startTimestamp
        state: PENDING
        uuid: uuid
      properties:
        backupId:
          type: string
        completionTimestamp:
          type: string
        startTimestamp:
          type: string
        state:
          $ref: "#/components/schemas/RestoreState"
        uuid:
          type: string
      required:
      - backupId
      - state
      - uuid
      type: object
    RestoreState:
      enum:
      - PENDING
      - VALIDATING
      - IN_PROGRESS
      - COMPLETED
      - FAILED
      - ABORTED
      type: string
    SecureConnectivityDto:
      example:
        metadata:
          labels:
            orgId: orgId
          name: name
          namespace: namespace
        spec:
          allowedPrincipals:
          - allowedPrincipals
          - allowedPrincipals
          allowedRegions:
          - allowedRegions
          - allowedRegions
          cluster:
            id: id
        status:
          conditions:
          - lastTransitionTime: lastTransitionTime
            message: message
            observedGeneration: 0.8008281904610115
            reason: reason
            status: status
            type: type
          - lastTransitionTime: lastTransitionTime
            message: message
            observedGeneration: 0.8008281904610115
            reason: reason
            status: status
            type: type
          endpoint:
            privateDnsName: privateDnsName
            region: region
            serviceName: serviceName
            type: type
          endpointConnectionCount: 6.027456183070403
          endpointConnections:
          - creationTimestamp: creationTimestamp
            endpointId: endpointId
            owner: owner
            serviceId: serviceId
            state: state
          - creationTimestamp: creationTimestamp
            endpointId: endpointId
            owner: owner
            serviceId: serviceId
            state: state
          observedGeneration: 1.4658129805029452
          urls: ""
      properties:
        metadata:
          $ref: "#/components/schemas/SecureConnectivityDto_metadata"
        spec:
          $ref: "#/components/schemas/SecureConnectivityDto_spec"
        status:
          $ref: "#/components/schemas/SecureConnectivityDto_status"
      required:
      - metadata
      - spec
      - status
      type: object
    TriggerFailoverBody:
      example:
        backupIds:
        - backupIds
        - backupIds
        restoreBackupId: restoreBackupId
      properties:
        backupIds:
          description: One or more backups to clone into the failover cluster.
          items:
            type: string
          type: array
        restoreBackupId:
          description: The backup to restore onto the new cluster immediately. Must
            be one of `backupIds`.
          type: string
      required:
      - backupIds
      - restoreBackupId
      type: object
    UpdateClusterBody:
      description: Used to update a cluster through this API.
      example:
        description: description
        name: name
        numberOfAllocatedHwPackages: 0.8008281904610115
        stageLabel: dev
      properties:
        description:
          description: Optional description for the cluster (max 150 characters).
          type: string
        name:
          description: The name of your cluster.
          type: string
        numberOfAllocatedHwPackages:
          description: "Optional number uf hardware packages, defaults to 1. Only\
            \ availabe on request and for Advanced offering cluster types."
          format: double
          type: number
        stageLabel:
          $ref: "#/components/schemas/CamundaClusterStage"
      type: object
    UpdateClusterEncryptionBody:
      description: |-
        Used to set or rotate the customer-managed encryption keys on a BYOK
        (encryption=External) cluster. Both ARNs must point to AWS KMS keys
        located in the cluster's primary and backup regions respectively. For
        single-region clusters, omit `secondaryEncryptionKeyId`.
      example:
        primaryEncryptionKeyId: primaryEncryptionKeyId
        secondaryEncryptionKeyId: secondaryEncryptionKeyId
      properties:
        primaryEncryptionKeyId:
          description: |-
            AWS KMS key ARN for the cluster's primary region. Single-region key
            ARNs and multi-region key (`mrk-...`) ARNs are both accepted, as long
            as the ARN's region segment matches the cluster's region.
          type: string
        secondaryEncryptionKeyId:
          description: |-
            AWS KMS key ARN for the cluster's backup region. Required when the
            cluster's backup configuration is dual-region; must be omitted for
            single-region clusters. Must differ from `primaryEncryptionKeyId`.
          type: string
      required:
      - primaryEncryptionKeyId
      type: object
    UpdateSecretBody:
      example:
        secretValue: secretValue
      properties:
        secretValue:
          type: string
      required:
      - secretValue
      type: object
    CreateCluster_request:
      allOf:
      - $ref: "#/components/schemas/CreateClusterBody"
      - properties:
          identityBackendChecksEnabled:
            type: boolean
        type: object
    CreateCluster_200_response:
      example:
        clusterId: clusterId
      properties:
        clusterId:
          type: string
      required:
      - clusterId
      type: object
    GetMonitoringClients_200_response_status:
      anyOf:
      - $ref: "#/components/schemas/ByomStatus"
      - $ref: "#/components/schemas/Record_string.never_"
    GetMonitoringClients_200_response:
      example:
        clients:
        - created: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          createdByName: createdByName
          lastUsed: 2000-01-23T04:56:07.000+00:00
          name: name
          username: username
          uuid: uuid
        - created: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          createdByName: createdByName
          lastUsed: 2000-01-23T04:56:07.000+00:00
          name: name
          username: username
          uuid: uuid
        status:
          conditions:
          - ""
          - ""
          metricsEndpoint:
            path: path
            scheme: scheme
            target: target
      properties:
        clients:
          items:
            $ref: "#/components/schemas/ByomClientDto"
          type: array
        status:
          $ref: "#/components/schemas/GetMonitoringClients_200_response_status"
      required:
      - clients
      - status
      type: object
    CreateMonitoringClient_request:
      properties:
        username:
          type: string
      required:
      - username
      type: object
    CreateMonitoringClient_200_response:
      allOf:
      - $ref: "#/components/schemas/ByomClientDto"
      - properties:
          password:
            type: string
        required:
        - password
        type: object
      example:
        created: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        createdByName: createdByName
        lastUsed: 2000-01-23T04:56:07.000+00:00
        name: name
        username: username
        uuid: uuid
        password: password
    GetSecureConnectivityStatus_200_response_status:
      anyOf:
      - $ref: "#/components/schemas/SecureConnectivityDto"
      - $ref: "#/components/schemas/Record_string.never_"
    GetSecureConnectivityStatus_200_response:
      example:
        status:
          metadata:
            labels:
              orgId: orgId
            name: name
            namespace: namespace
          spec:
            allowedPrincipals:
            - allowedPrincipals
            - allowedPrincipals
            allowedRegions:
            - allowedRegions
            - allowedRegions
            cluster:
              id: id
          status:
            conditions:
            - lastTransitionTime: lastTransitionTime
              message: message
              observedGeneration: 0.8008281904610115
              reason: reason
              status: status
              type: type
            - lastTransitionTime: lastTransitionTime
              message: message
              observedGeneration: 0.8008281904610115
              reason: reason
              status: status
              type: type
            endpoint:
              privateDnsName: privateDnsName
              region: region
              serviceName: serviceName
              type: type
            endpointConnectionCount: 6.027456183070403
            endpointConnections:
            - creationTimestamp: creationTimestamp
              endpointId: endpointId
              owner: owner
              serviceId: serviceId
              state: state
            - creationTimestamp: creationTimestamp
              endpointId: endpointId
              owner: owner
              serviceId: serviceId
              state: state
            observedGeneration: 1.4658129805029452
            urls: ""
      properties:
        status:
          $ref: "#/components/schemas/GetSecureConnectivityStatus_200_response_status"
      required:
      - status
      type: object
    ActivateSecureConnectivity_request:
      properties:
        allowedPrincipals:
          items:
            type: string
          type: array
        allowedRegions:
          items:
            type: string
          type: array
      required:
      - allowedPrincipals
      - allowedRegions
      type: object
    ByomStatus_metricsEndpoint:
      example:
        path: path
        scheme: scheme
        target: target
      properties:
        path:
          type: string
        scheme:
          type: string
        target:
          type: string
      required:
      - path
      - scheme
      - target
      type: object
    Cluster_backupRegion:
      description: The data center where your backups are stored. Only available if
        the Sales Plan supports this. (Enterprise)
      example:
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Cluster_channel:
      description: The software channel your cluster is running on.
      example:
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Cluster_encryption:
      description: |-
        Encryption configuration for the cluster.

        `type` matches what was selected at create-time (Software / Hardware /
        Provider / External). `primaryKeyArn` / `secondaryKeyArn` are populated
        only for `External` (BYOK) clusters once keys have been configured via
        `PUT /clusters/{clusterUuid}/encryption`. `status` is only present when
        `type` is `External` and reflects the operator reconciliation state —
        poll for `Ready` to confirm BYOK is active.
      example:
        primaryKeyArn: primaryKeyArn
        secondaryKeyArn: secondaryKeyArn
        status: Ready
        type: Software
      properties:
        primaryKeyArn:
          type: string
        secondaryKeyArn:
          type: string
        status:
          $ref: "#/components/schemas/EncryptionStatus"
        type:
          $ref: "#/components/schemas/ClusterEncryptionKey"
      required:
      - type
      type: object
    Cluster_generation:
      description: The version of Camunda running on your cluster.
      example:
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Cluster_ipallowlist_inner:
      example:
        description: description
        ip: ip
      properties:
        description:
          type: string
        ip:
          type: string
      required:
      - description
      - ip
      type: object
    Cluster_links:
      description: Endpoints for the components running in your Camunda cluster.
      example:
        connectors: connectors
        console: console
        identity: identity
        oauth: oauth
        operate: operate
        optimize: optimize
        tasklist: tasklist
        zeebe: zeebe
      properties:
        connectors:
          type: string
        console:
          type: string
        identity:
          type: string
        oauth:
          type: string
        operate:
          type: string
        optimize:
          type: string
        tasklist:
          type: string
        zeebe:
          type: string
      type: object
    Cluster_planType:
      description: "Also called `ClusterPlanType`, this describes the hardware used\
        \ to run your Camunda cluster."
      example:
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Cluster_region:
      description: The data center where your Camunda cluster is running.
      example:
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Cluster_status:
      description: A health indicator for your Camunda cluster. Each of the components
        have their own state. The combined state is in the field `ready`.
      example:
        connectorsStatus: Creating
        operateStatus: null
        optimizeStatus: null
        ready: null
        tasklistStatus: null
        zeebeStatus: null
      properties:
        connectorsStatus:
          $ref: "#/components/schemas/ClusterComponentStatus"
        operateStatus:
          $ref: "#/components/schemas/ClusterComponentStatus"
        optimizeStatus:
          $ref: "#/components/schemas/ClusterComponentStatus"
        ready:
          $ref: "#/components/schemas/ClusterComponentStatus"
        tasklistStatus:
          $ref: "#/components/schemas/ClusterComponentStatus"
        zeebeStatus:
          $ref: "#/components/schemas/ClusterComponentStatus"
      required:
      - ready
      type: object
    CreatedClusterClient_links:
      example:
        connectors: connectors
        console: console
        oauth: oauth
        operate: operate
        optimize: optimize
        tasklist: tasklist
        zeebe: zeebe
      properties:
        connectors:
          type: string
        console:
          type: string
        oauth:
          type: string
        operate:
          type: string
        optimize:
          type: string
        tasklist:
          type: string
        zeebe:
          type: string
      type: object
    FailoverResult_results_backupClone_anyOf:
      example:
        error: error
      properties:
        error:
          type: string
      required:
      - error
      type: object
    FailoverResult_results_backupClone:
      anyOf:
      - $ref: "#/components/schemas/FailoverResult_results_backupClone_anyOf"
      - enum:
        - ok
        type: string
    FailoverResult_results:
      example:
        backupClone:
          error: error
        restore: null
      properties:
        backupClone:
          $ref: "#/components/schemas/FailoverResult_results_backupClone"
        restore:
          $ref: "#/components/schemas/FailoverResult_results_backupClone"
      required:
      - backupClone
      - restore
      type: object
    GenerationUpgradeForClusterDto_cluster:
      example:
        id: id
        name: name
      properties:
        id:
          type: string
        name:
          type: string
      required:
      - id
      - name
      type: object
    Parameters_channels_inner_allowedGenerations_inner:
      example:
        classification: channel
        name: name
        uuid: uuid
      properties:
        classification:
          enum:
          - channel
          - existingCluster
          - orgUnlocked
          type: string
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Parameters_channels_inner_defaultGeneration:
      example:
        name: name
        uuid: uuid
      properties:
        name:
          type: string
        uuid:
          type: string
      required:
      - name
      - uuid
      type: object
    Parameters_channels_inner:
      example:
        allowedGenerations:
        - classification: channel
          name: name
          uuid: uuid
        - classification: channel
          name: name
          uuid: uuid
        defaultGeneration:
          name: name
          uuid: uuid
        name: name
        uuid: uuid
      properties:
        allowedGenerations:
          items:
            $ref: "#/components/schemas/Parameters_channels_inner_allowedGenerations_inner"
          type: array
        defaultGeneration:
          $ref: "#/components/schemas/Parameters_channels_inner_defaultGeneration"
        name:
          type: string
        uuid:
          type: string
      required:
      - allowedGenerations
      - defaultGeneration
      - name
      - uuid
      type: object
    Parameters_regions_inner_backups_inner_regions_inner:
      example:
        id: id
        label: label
      properties:
        id:
          type: string
        label:
          type: string
      required:
      - id
      - label
      type: object
    Parameters_regions_inner_backups_inner:
      example:
        regions:
        - id: id
          label: label
        - id: id
          label: label
        uuid: uuid
      properties:
        regions:
          items:
            $ref: "#/components/schemas/Parameters_regions_inner_backups_inner_regions_inner"
          type: array
        uuid:
          type: string
      required:
      - regions
      - uuid
      type: object
    Parameters_regions_inner:
      example:
        backups:
        - regions:
          - id: id
            label: label
          - id: id
            label: label
          uuid: uuid
        - regions:
          - id: id
            label: label
          - id: id
            label: label
          uuid: uuid
        name: name
        provider: provider
        uuid: uuid
      properties:
        backups:
          items:
            $ref: "#/components/schemas/Parameters_regions_inner_backups_inner"
          type: array
        name:
          type: string
        provider:
          type: string
        uuid:
          type: string
      required:
      - name
      - provider
      - uuid
      type: object
    SecureConnectivityDto_metadata_labels:
      example:
        orgId: orgId
      properties:
        orgId:
          type: string
      required:
      - orgId
      type: object
    SecureConnectivityDto_metadata:
      example:
        labels:
          orgId: orgId
        name: name
        namespace: namespace
      properties:
        labels:
          $ref: "#/components/schemas/SecureConnectivityDto_metadata_labels"
        name:
          type: string
        namespace:
          type: string
      required:
      - labels
      - name
      - namespace
      type: object
    SecureConnectivityDto_spec_cluster:
      example:
        id: id
      properties:
        id:
          type: string
      required:
      - id
      type: object
    SecureConnectivityDto_spec:
      example:
        allowedPrincipals:
        - allowedPrincipals
        - allowedPrincipals
        allowedRegions:
        - allowedRegions
        - allowedRegions
        cluster:
          id: id
      properties:
        allowedPrincipals:
          items:
            type: string
          type: array
        allowedRegions:
          items:
            type: string
          type: array
        cluster:
          $ref: "#/components/schemas/SecureConnectivityDto_spec_cluster"
      required:
      - allowedPrincipals
      - allowedRegions
      - cluster
      type: object
    SecureConnectivityDto_status_conditions_inner:
      example:
        lastTransitionTime: lastTransitionTime
        message: message
        observedGeneration: 0.8008281904610115
        reason: reason
        status: status
        type: type
      properties:
        lastTransitionTime:
          type: string
        message:
          type: string
        observedGeneration:
          format: double
          type: number
        reason:
          type: string
        status:
          type: string
        type:
          type: string
      required:
      - lastTransitionTime
      - message
      - observedGeneration
      - reason
      - status
      - type
      type: object
    SecureConnectivityDto_status_endpoint:
      example:
        privateDnsName: privateDnsName
        region: region
        serviceName: serviceName
        type: type
      properties:
        privateDnsName:
          type: string
        region:
          type: string
        serviceName:
          type: string
        type:
          type: string
      required:
      - privateDnsName
      - region
      - serviceName
      - type
      type: object
    SecureConnectivityDto_status_endpointConnections_inner:
      example:
        creationTimestamp: creationTimestamp
        endpointId: endpointId
        owner: owner
        serviceId: serviceId
        state: state
      properties:
        creationTimestamp:
          type: string
        endpointId:
          type: string
        owner:
          type: string
        serviceId:
          type: string
        state:
          type: string
      required:
      - creationTimestamp
      - endpointId
      - owner
      - serviceId
      - state
      type: object
    SecureConnectivityDto_status:
      example:
        conditions:
        - lastTransitionTime: lastTransitionTime
          message: message
          observedGeneration: 0.8008281904610115
          reason: reason
          status: status
          type: type
        - lastTransitionTime: lastTransitionTime
          message: message
          observedGeneration: 0.8008281904610115
          reason: reason
          status: status
          type: type
        endpoint:
          privateDnsName: privateDnsName
          region: region
          serviceName: serviceName
          type: type
        endpointConnectionCount: 6.027456183070403
        endpointConnections:
        - creationTimestamp: creationTimestamp
          endpointId: endpointId
          owner: owner
          serviceId: serviceId
          state: state
        - creationTimestamp: creationTimestamp
          endpointId: endpointId
          owner: owner
          serviceId: serviceId
          state: state
        observedGeneration: 1.4658129805029452
        urls: ""
      properties:
        conditions:
          items:
            $ref: "#/components/schemas/SecureConnectivityDto_status_conditions_inner"
          type: array
        endpoint:
          $ref: "#/components/schemas/SecureConnectivityDto_status_endpoint"
        endpointConnectionCount:
          format: double
          type: number
        endpointConnections:
          items:
            $ref: "#/components/schemas/SecureConnectivityDto_status_endpointConnections_inner"
          type: array
        observedGeneration:
          format: double
          type: number
        urls: {}
      required:
      - conditions
      - endpoint
      - endpointConnectionCount
      - observedGeneration
      - urls
      type: object
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
